body, html {
    height: 100%;
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: rgb(152, 27, 27);
    -webkit-overflow-scrolling: touch;
    background-color: rgb(142, 197, 235);
}
::selection {
    background: black;
}
.lb-section {
    min-height: 600px;
    width: 100%;
    border-bottom: 2px solid rgb(240, 242, 144);
    transform: translateZ(0);
}
.lb-merch {
    background-color: rgb(142, 197, 235);
}
@media screen and (max-width: 900px) {
    .lb-player {
        opacity: 0;
    }
}
.lb-splash {
    height: 100%;
    width: 100%;
    background-color: rgb(142, 197, 235);
}
.container-1 {
    height: 100%;
    text-align: center;
}
.lb-player {
    /*height: 10%;*/
    height: 75px;
    width: 100%;
    background-color: rgb(240, 242, 144);
    /*display: inline-flex;*/
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    transition: all .2s;
    z-index: 999;
    white-space: nowrap;
}
h1 {
    margin: 0;
}
.lb-title {
    width: 100%;
    text-align: center;
    font-size: 10em;
    margin: 0;
}
.lb-navbar {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    color: rgb(240, 242, 144);
    min-width: 921px;
    transition: all .2s, background-color 1ms, color 1ms;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}
.lb-nav-sticky {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    color: rgb(152, 27, 27);
    transition: all .2s, background-color 1ms, color 1ms;
    font-size: 2.5em;
    width: 100px;
    text-align: center;
    background-color: rgb(240, 242, 144);
    opacity: .9;
    height: 100px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    overflow: hidden;
    transition: all .5s;
}
.lb-nav-sticky ul{
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}
.lb-nav-sticky:hover{
    width: 350px;
    height: 350px;
    transition: all .5s;
}
.lb-nav-sticky:hover *{
    opacity: 1;
    pointer-events: all;
}
ul {
    margin: 0;
}
.lb-nav-sticky a {
    color: rgb(152, 27, 27);
    transition: margin 1s;
}
.lb-nav-sticky a:hover {
    margin: 0 40px 0 40px;
    color: rgb(142, 197, 235);
}
a {
    color: rgb(240, 242, 144);
    transition: margin 1s;
}
.lb-navbar a:hover {
    margin: 0 40px 0 40px;
    color: rgb(152, 27, 27);
}
li {
    display: block;
}
a {
    text-decoration: none;

}
.song-info {
    min-width: 30%;
    float: left;
    margin-left: 20px;
    transform: translate(0, 50%);
}
.song-title {
    font-weight: 400;
}
.lb-album-cover {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid rgb(152, 27, 27);
    border-radius: 3px;
    transition: border .2s;
}
.lb-album-cover:hover {
    border: 3px solid rgb(102, 27, 27)
}
.album-cover-image {
    width: 50px;
    height: 50px;
}
.song-nav {
    width: 30%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.song-selector {
    width: 30%;
    float: right;
    margin-right: 20px;
    position: absolute;
    top: 50%;
    right: 20px;
    text-align: center;
    transform: translate(0, -50%);
}
.nav-button {
    width: 56px;
    height: 56px;
    border: 0;
    background-color: rgb(152, 27, 27);
    border-radius: 3px;
    transition: background-color .2s;
}
.nav-button:hover {
    background-color: rgb(102, 27, 27);
}
.nav {
    white-space: nowrap;
}
.nav-button:focus {
    border: 0;
}
.fade-out {
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none;
}
.fade-in {
    opacity: 1;
    transition: opacity .5s;
}
.lb-album-info {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    /*opacity: 0;*/
    /*transition: opacity .5s;*/
    z-index: 999;
}
.lb-album-info-table {
    font-size: 1.5em;
    background-color: rgb(152, 27, 27);
    color: rgb(240, 242, 144);
    width: 300px;
    /*height: 450px;*/
    border-collapse: collapse;
    /*border-bottom: 2px solid rgb(240, 242, 144);*/
    padding: 20px;
}
.lb-album-info-title {
    text-align: center;
    border: 3px solid rgb(240, 242, 144);
}
.lb-album-info-cell {
    border-bottom: 2px solid rgb(240, 242, 144);
    border-left: 3px solid rgb(240, 242, 144);
    border-right: 3px solid rgb(240, 242, 144);
    height: 50px;
    margin: 50px;
    text-align: center;
}
.lb-album-info-cell:hover {
    background-color: rgb(102, 27, 27);
}
.album-play-button {
    vertical-align: middle;
    position: absolute;
    top: 5px;
    left: 10px
}
.album-close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    height: 20px;
}
.svg {
    width: 20px;
    height: 20px;
}
.lb-shows {
    width: 100%;
    background-color: rgb(152, 27, 27);
    height: 100%;
    position: relative;
}
.lb-show-table {
    width: 95%;
    height: 50%;
    font-size: 1.5em;
    background-color: rgb(142, 197, 235);
    margin: 0 auto;
}
.show-table-container {
    position: absolute;
    margin: auto;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
}
.section-title {
    padding-left: 15px;
    padding-top: 50px;
    font-size: 5em;
    font-family: 'Raleway', sans-serif;
}
.show-title {
    color: rgb(142, 197, 235);
}
.lb-merch {
    width: 100%;
    height: 100%;
    position: relative;
}
.lb-photos {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(152, 27, 27);
}
#nav-menu {
    display: none;
}
.left-button, .right-button {
    display: none;
}
table {
    border-collapse: collapse;
}
progress {
    position: fixed;
    top: 89%;
    left: 0;
    width: 100%;
}

.lb-nav-list::after{
    content: "|"
}

.lb-nav-list::before{
    content:"|"
}
