body, html{
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    color: rgb(152, 27, 27);
    -webkit-overflow-scrolling: touch;
}

::selection{
    background: black;
}

.lb-section{
    min-height: 600px;
    width: 100%;
}

.lb-merch{
    background-color: rgb(142, 197, 235);
}

@media screen and (max-width: 900px) {
    .lb-player{
        opacity: 0;
    }
}


.lb-splash{
    height: 100%;
    width: 100%;
    background-color: rgb(142, 197, 235);
}

.container-1{
    /*height: 100%;*/
    text-align: center;
}

.lb-player{
    height: 10%;
    min-height: 50px;
    width: 100%;
    background-color: rgb(240, 242, 144);
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    transition: all .2s;
    z-index: 999;
}

h1{
    margin: 0;
}

.lb-title{
    width: 100%;
    text-align: center;
    font-size: 10em;
    margin: 0;
}

.lb-navbar{
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    color: rgb(240, 242, 144);
    min-width: 921px;
    transition: all .2s, background-color 1ms, color 1ms;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}



.lb-nav-sticky{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    color: rgb(152, 27, 27);
    transition: all .2s, background-color 1ms, color 1ms;
    font-size: 2.5em;
    width: 100%;
    text-align: center;
    background-color: rgb(240, 242, 144);
    opacity: .9;
    height: 50px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

ul{
    margin: 0;
}

.lb-nav-sticky a {
    color: rgb(152, 27, 27);
    transition: margin 1s;
}

.lb-nav-sticky a:hover{
    margin: 0 40px 0 40px;
    color: rgb(142, 197, 235);
}


a {
    color: rgb(240, 242, 144);
    transition: margin 1s;
}

.lb-navbar a:hover{
    margin: 0 40px 0 40px;
    color: rgb(152, 27, 27);
}

li{
    display: inline;
}

a{
    text-decoration: none;
}

.song-info{
    min-width: 30%;
}

.lb-album-cover{
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
}

.album-cover-image{
    width: 50px;
    height: 50px;
}

.song-selector{
    width: 30%;

}

.nav-button{
    width: 50px;
    height: 50px;
    border: 0;
    background-color: rgb(152, 27, 27);
    border-radius: 3px;
}

.nav{
    white-space: nowrap;
}

.nav-button:focus{
    border: 0;
}



.lb-album-cover:hover .lb-album-info{
    opacity: 1;
    pointer-events: all;
}

.lb-album-info{
    position: absolute;
    bottom: 100%;
    right: 0;
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none;
}

.lb-album-info-table{
    font-size: 1.5em;
    background-color: rgb(152, 27, 27);
    color: rgb(142, 197, 235);
    width: 300px;
    /*height: 450px;*/
    border-collapse: collapse;
    /*border-bottom: 2px solid rgb(240, 242, 144);*/

}

.lb-album-info-title{
    text-align: center;
    border-bottom: 3px solid rgb(240, 242, 144);
}

.lb-album-info-cell{
    border-bottom: 2px solid rgb(240, 242, 144);
    height: 60px;

}

.lb-album-info-cell:hover{
    background-color: rgb(102, 27, 27);
}

.table-play-button{
    float: right;
    vertical-align: middle;
}


.lb-shows{
    width: 100%;
    background-color: rgb(152, 27, 27);
    height: 100%;
    position: relative;
}
.lb-show-table{
    width: 95%;
    height: 50%;
    font-size: 1.5em;
    background-color: rgb(142, 197, 235);
    margin: 0 auto;


}

.show-table-container{
    position: absolute;
    margin: auto;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;

}

.section-title{
    padding-left: 15px;
    padding-top: 50px;
    font-size: 5em;
    font-family: 'Roboto', sans-serif;
}

.show-title{
    color: rgb(142, 197, 235);
}

.lb-merch{
    width: 100%;
    height: 100%;
    position: relative;
}

.lb-photos{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(152, 27, 27);

}

/*th, td{
    border: 2px solid rgb(152, 27, 27);
}*/

table{
    border-collapse: collapse;
}

progress{
    position: fixed;
    top: 89%;
    left: 0;

    width: 100%;
}
