.outer-video-wrapper{
    visibility: hidden;
}

.bit-widget-container{
    font-size: 26px !important;
}

.lb-section-title{
    width: 100%;
    text-align: center;
}

.lb-section{
    position: fixed;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: all .5s;

}

.lb-section-active{
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.lb-section-left{
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: all .5s;
}
.lb-player{
    height: 239px !important;
}

.song-title, .song-selector{
    display: none;
}
.song-nav{
    width: 100%;
    height: 100%;
    float: left;
}

.playback-controls{
    height: 100%;
}

.nav-button{
    width: 233px;
    height: 233px;
    background-color: rgb(240, 242, 144);
    color: rgb(152, 27, 27);
    font-size:10px;
    font-family: sans-serif;
}

.svg{
    width: 100px;
    height: 100px;
}



.svg-path{
    fill: rgb(152, 27, 27);
}

.lb-album-info{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;

    font-size: 30px;
}

/*.lb-album-info .svg{
    height: 20px;
    width: 20px;
}*/

.lb-album-info .svg-path{
    fill: rgb(240, 242, 144);
}

.lb-album-info-table{
    width: 100%;
    height: 100%;
}

.lb-album-info-title{
    height: 239px;
}

.album-play-button{
    left: 50px;
    top:  69px;
    width: 100px;
}

.album-close-button{
    right: 50px;
    top: 69px;
    width: 100px;
}

.left-button{
    display: block;
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.right-button{
    display: block;
    position: fixed;
    top:50%;
    right: 10px;
    transform: translate(0, -50%);
}

.left-button .svg path.svg-path, .right-button .svg path.svg-path{
    fill: rgb(240, 242, 144);
}

.left-button .svg, .right-button .svg{
    width: 50px;
}

body{
    overflow: hidden;
}

#nav-menu{
    display: inline-block;
}


.nav-list{
    display: block;
    width: 100%;
    text-align: center;
}

.scroll-container{
    backface-visibility: hidden;
}
