.lb-photo-album{
    background-color: rgb(142, 197, 235);
    height: 50vh;
    width: 50vh;

    max-height: 60vw;
    margin: 20px 10px;

    border: 2px solid rgb(240, 242, 144);
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;

}

.photo-album-link:first-child{
    margin-left: 10px;
}

.photo-album-link:last-child{
    margin-right: 10px;
}


.album-thumbnail-horizontal{
    display: block;
    height: 100%;
    width: auto;


    margin: auto;
    /*border: 2px solid rgb(240, 242, 144)*/
}

.album-thumbnail-vertical{
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}

.lb-album-title{
    font-size: 5em;
    text-align: center;
}

.lb-album-container{
    width: 80%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    /*max-height: 270px;*/
    white-space: nowrap;
    background-color: rgb(142, 197, 235);
    border-radius: 5px;
    border: 3px solid rgb(240, 242, 144);
}


.lb-album-container::-webkit-scrollbar-track-piece{
    background-color: rgb(142, 197, 235);
    /*display: none;*/
}

html{
    background-color: rgb(142, 197, 235);
}
