body, html{
    margin: 0;
    height: 100%;
}

body{
    background-color:rgb(240, 242, 144) ;
    max-height: 60px;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    animation: fadeIn;
    animation-duration: 1s;
}

.song-nav{
    margin: 0 ;
    width: 20%;
    flex-shrink:0;

}

.playback-controls{
    margin: 0 auto;
    max-width: 190px;

}

button{
    margin: 15px 5px;
    appearance: none;
    box-shadow: none;
    background-color: rgb(152, 27, 27);
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 3px;

}

button:hover{
    background-color: rgb(133, 27, 27);
}

button:active{
    background-color: rgb(120, 27, 27);
}

.song-info{
    font-family: sans-serif;
    color: rgb(152, 27, 27);
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 15px;

}

h1{
    height: 100%;
}
.song-selector{
    float: right;
    margin-top: 15px;
    min-width: 40%;
    text-align: center;
    height: 59px;
    overflow: hidden;
}

.albums{
    margin: 0 auto;
    max-width: 290px;
    text-align: center;
    overflow: hidden;
}

.lb-album-cover{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    background-color: rgb(120, 27, 27);
    pointer-events: none;
    border-radius: 3px;
    animation: shrinkRight;
    animation-duration: .25s;
    position: relative;

}


.lb-album-cover:hover{
    width: 160px;
    animation: expandRight;
    animation-duration: .75s;

}

.lb-album-cover:hover span{
    animation: fadeIn;
    animation-duration: 2.5s;
    opacity: 1;
}

.lb-album-cover img{
    width: 50px;
    height: 50px;
    float: left;
    pointer-events: all;
}

span{
    /*vertical-align: middle;*/
    overflow: hidden;
    color: rgb(240, 242, 144);
    font-size: 1.4em;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -12.5px;
    font-size: .5vh;
}



@keyframes fadeIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes expandRight{
    from{
        width: 50px;
    }

    to{
        width: 160px;
    }
}

@keyframes shrinkRight{
    /*from{
        width: 160px;
    }*/
    to{
        width: 50px;
    }
}
