h1{
    color: rgb(152, 27, 27);
    margin: auto;
    text-align: center;
    font-size: 13em;
    padding-left: 40px;

}

.lb-title{
    font-size: 10em;
}



body{
    background-color: rgb(142, 197, 235);
    text-align: center;
    font-family: sans-serif;
    overflow: scroll;
    animation: fadeIn;
    animation-duration: 1s;

}

a{
    text-decoration: none;
    color: rgb(240, 242, 144);
    transition: margin 1s ease;

}



a:focus{
    margin: 0 40px 0 40px;
    animation: none;
}

a:focus a{
    pointer-events: all;
}

a td a{
    pointer-events: none;
    animation: none;
}
a:focus:hover{
    margin:  0 40px 0 40px;
}

a:hover{
    color: rgb(152, 27, 27);
    margin: 0 40px 0 40px
}

li:hover a a{
    animation: none;
    margin: auto;
}

a:focus li:hover a td a{
    animation: none;
}

li{
    color: rgb(240, 242, 144);
    font-size: 2em;
    display: inline;
    position: relative;
}


ul{
    padding: 0;
    list-style-type: none;
    min-width: 641px;
}

.nav{
    min-width: 721px;
}

.nav li{
    pointer-events: none;
}

.nav li a{
    pointer-events: all;

}

a .show-table{
    position: absolute;
    left: 0;
    opacity: 0;
    width: 720px;
    padding-top: 10px;
    height: 255px;
    overflow: scroll;
    pointer-events: none;
    transition: opacity 1s ease-in;

}

a:focus .show-table{
    opacity: 1;
    margin: auto;
}




table {
    background-color: rgb(152, 27, 27);
    color: rgb(142, 197, 235);
    border-radius: 10px;
    border-collapse: collapse;
    font-weight: 200;
}

tr{
    border: 3px solid rgb(142, 197, 235);

}


th{
    border: 3px solid rgb(142, 197, 235);
    border-radius: 10px;
}

table tr td{
    border: 3px solid rgb(142, 197, 235);
    border-radius: 5px;
}

a:hover td a{
    color: rgb(215, 217, 127);
}

@keyframes widen{
    from{
        margin: 0;
    }

    to{
        margin: 0 40px 0 40px;
    }
}

@keyframes narrow{
    from{
        margin: 0 40px 0 40px;
    }

    to{
        margin: 0;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;

    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
